<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Icono de pagina -->
    <link rel="shortcut icon" href="../medias\icons\Logo.webp" type="image/x-icon">
    <!-- Fuentes utilizadas -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap" rel="stylesheet">
    <!-- Link al bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
    <!-- Link de iconos de bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <title>Productos</title>
</head>
<body id="body">
    <header>
        <%- Partialheader %>
    </header>
    <main id="main-B">
        <!-- Indicador de pagina actual con navegacion jerarquica -->
        <div class="crumb-box" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="../index.html">Inicio</a>
                </li>
                <li class="breadcrumb-item">
                    Productos
                </li>
            </ol>
        </div>
        <!-- Filtros para Productos -->
        <div class="filter-nav">
            <div class="filter-nav__left">
                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentcolor" class="bi bi-funnel-fill" viewBox="0 0 16 16">
                    <path d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5z"/>
                </svg>
                <h6>Ordenar por</h6>
                <div class="dropdown">
                    <button class="dropdown-toggle filter-nav__btn-menu" type="button" data-bs-toggle="dropdown" >Mayor precio</button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Menor precio</a></li>
                        <li><a class="dropdown-item" href="#">Nuevo ingreso</a></li>
                        <li><a class="dropdown-item" href="#">Antiguos</a></li>
                        <li><a class="dropdown-item" href="#">Nombre ascendente</a></li>
                        <li><a class="dropdown-item" href="#">Mejor valorados</a></li>
                        <li><a class="dropdown-item" href="#">Mas vendidos</a></li>
                    </ul>
                </div>
            </div>
            <div class="filter-nav__right">
                <button class="filter-nav__btn-grid"><svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-ui-checks" viewBox="0 0 16 16">
                    <path d="M7 2.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-7a.5.5 0 0 1-.5-.5zM2 1a2 2 0 0 0-2 2v2a2 2 0 0 0 2 2h2a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2zm0 8a2 2 0 0 0-2 2v2a2 2 0 0 0 2 2h2a2 2 0 0 0 2-2v-2a2 2 0 0 0-2-2zm.854-3.646a.5.5 0 0 1-.708 0l-1-1a.5.5 0 1 1 .708-.708l.646.647 1.646-1.647a.5.5 0 1 1 .708.708zm0 8a.5.5 0 0 1-.708 0l-1-1a.5.5 0 0 1 .708-.708l.646.647 1.646-1.647a.5.5 0 0 1 .708.708zM7 10.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-7a.5.5 0 0 1-.5-.5zm0-5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m0 8a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5"/></svg><a href="/"></a></button>
                <button class="filter-nav__btn-grid"><svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-ui-checks-grid" viewBox="0 0 16 16">
                    <path d="M2 10h3a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1v-3a1 1 0 0 1 1-1m9-9h3a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-3a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1m0 9a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h3a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1zm0-10a2 2 0 0 0-2 2v3a2 2 0 0 0 2 2h3a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM2 9a2 2 0 0 0-2 2v3a2 2 0 0 0 2 2h3a2 2 0 0 0 2-2v-3a2 2 0 0 0-2-2zm7 2a2 2 0 0 1 2-2h3a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2h-3a2 2 0 0 1-2-2zM0 2a2 2 0 0 1 2-2h3a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm5.354.854a.5.5 0 1 0-.708-.708L3 3.793l-.646-.647a.5.5 0 1 0-.708.708l1 1a.5.5 0 0 0 .708 0z"/></svg></a></button>
            </div>
        </div>
        <!-- Caja y Cards de Productos -->
        <section class="section-cards">
            <div class="product-card">
                <div class="product-card__img-box">
                    <img class="product-card__img" src="https://res.cloudinary.com/dqk9u5gni/image/upload/v1748659598/buscapolo_qejafy.webp" alt="img-producto">
                </div>
                <div class="product-card__content">
                    <h5 class="product-card__tittle">Titulo del Producto</h5>
                    <p class="product-card__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, magni.</p>
                    <h3 class="product-card__price">$$Precio</h3>
                    <button type="button" class="product-card__btn" id="liveToastBtn">Añadir al carrito</button>
                </div>
            </div>
            <div class="product-card">
                <div class="product-card__img-box">
                    <img class="product-card__img" src="https://res.cloudinary.com/dqk9u5gni/image/upload/v1748659600/caladora_w3a3xd.webp" alt="img-producto">
                </div>
                <div class="product-card__content">
                    <h5 class="product-card__tittle">Titulo del Producto</h5>
                    <p class="product-card__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, magni.</p>
                    <h3 class="product-card__price">$$Precio</h3>
                    <button type="button" class="product-card__btn" id="liveToastBtn">Añadir al carrito</button>
                </div>
            </div>
            <div class="product-card">
                <div class="product-card__img-box">
                    <img class="product-card__img" src="https://res.cloudinary.com/dqk9u5gni/image/upload/v1748659600/cierra-circular_nu1ok3.webp" alt="img-producto">
                </div>
                <div class="product-card__content">
                    <h5 class="product-card__tittle">Titulo del Producto</h5>
                    <p class="product-card__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, magni.</p>
                    <h3 class="product-card__price">$$Precio</h3>
                    <button type="button" class="product-card__btn" id="liveToastBtn">Añadir al carrito</button>
                </div>
            </div>
            <div class="product-card">
                <div class="product-card__img-box">
                    <img class="product-card__img" src="https://res.cloudinary.com/dqk9u5gni/image/upload/v1748659601/Cinta-pasacables_kvfswp.webp" alt="img-producto">
                </div>
                <div class="product-card__content">
                    <h5 class="product-card__tittle">Titulo del Producto</h5>
                    <p class="product-card__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, magni.</p>
                    <h3 class="product-card__price">$$Precio</h3>
                    <button type="button" class="product-card__btn" id="liveToastBtn">Añadir al carrito</button>
                </div>
            </div>
            <div class="product-card">
                <div class="product-card__img-box">
                    <img class="product-card__img" src="https://res.cloudinary.com/dqk9u5gni/image/upload/v1748659602/Corte-vertical_ku9ay5.webp" alt="img-producto">
                </div>
                <div class="product-card__content">
                    <h5 class="product-card__tittle">Titulo del Producto</h5>
                    <p class="product-card__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, magni.</p>
                    <h3 class="product-card__price">$$Precio</h3>
                    <button type="button" class="product-card__btn" id="liveToastBtn">Añadir al carrito</button>
                </div>
            </div>
            <div class="product-card">
                <div class="product-card__img-box">
                    <img class="product-card__img" src="https://res.cloudinary.com/dqk9u5gni/image/upload/v1748659622/Lijadora_dstnir.webp" alt="img-producto">
                </div>
                <div class="product-card__content">
                    <h5 class="product-card__tittle">Titulo del Producto</h5>
                    <p class="product-card__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, magni.</p>
                    <h3 class="product-card__price">$$Precio</h3>
                    <button type="button" class="product-card__btn" id="liveToastBtn">Añadir al carrito</button>
                </div>
            </div>
            <div class="product-card">
                <div class="product-card__img-box">
                    <img class="product-card__img" src="https://res.cloudinary.com/dqk9u5gni/image/upload/v1748659623/llave-inglesa_xygwyf.webp" alt="img-producto">
                </div>
                <div class="product-card__content">
                    <h5 class="product-card__tittle">Titulo del Producto</h5>
                    <p class="product-card__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, magni.</p>
                    <h3 class="product-card__price">$$Precio</h3>
                    <button type="button" class="product-card__btn" id="liveToastBtn">Añadir al carrito</button>
                </div>
            </div>
            <div class="product-card">
                <div class="product-card__img-box">
                    <img class="product-card__img" src="https://res.cloudinary.com/dqk9u5gni/image/upload/v1748659624/tester_vx5bxo.webp" alt="img-producto">
                </div>
                <div class="product-card__content">
                    <h5 class="product-card__tittle">Titulo del Producto</h5>
                    <p class="product-card__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, magni.</p>
                    <h3 class="product-card__price">$$Precio</h3>
                    <button type="button" class="product-card__btn" id="liveToastBtn">Añadir al carrito</button>
                </div>
            </div>
            <!-- Alertas de producto añadido al carrito -->
            <div aria-live="polite" aria-atomic="true" class="position-absolute d-flex justify-content-center align-items-center w-100">
                <div class="toast-container position-fixed bottom-0 end-0 p-3">
                    <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                            <div class="toast-header">
                                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="black" class="bi bi-cart-check-fill rounded me-2" viewBox="0 0 16 16" alt="icon-alert-toasts">
                                    <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0m7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0m-1.646-7.646-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L8 8.293l2.646-2.647a.5.5 0 0 1 .708.708"/>
                                </svg> 
                                <strong class="me-auto">Lista de Compras</strong>
                                <small>hace 1 seg</small>
                                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                            </div>
                            <div class="toast-body">
                                El producto se ha añadio al carrito
                            </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <%- Partialfooter %>
    </footer>
    <!-- Script del bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous"></script>
    <!-- Script principal -->
    <script type="module" src="../src/main.js"></script>
    <!-- Script del captcha -->
    <script src="https://www.google.com/recaptcha/api.js?render=6LfDOUorAAAAAF1wx5DSk1DChbRwCtCf-NVfQDLG"></script>
</body>
</html>